In [7]:
import pandas as pd

df = pd.read_csv("times.csv", encoding='utf-16-le')
df

       elapsedMs
0         0.1251
1         0.0361
2         0.0182
3         0.0109
4         0.0108
...          ...
99995     0.0017
99996     0.0017
99997     0.0017
99998     0.0016
99999     0.0018

[100000 rows x 1 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 1 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   elapsedMs  100000 non-null  float64
dtypes: float64(1)
memory usage: 781.4 KB

In [9]:
df["elapsedMs"].describe()

count    100000.000000
mean          0.002227
std           0.006079
min           0.001400
25%           0.001700
50%           0.001800
75%           0.002000
max           0.514300
Name: elapsedMs, dtype: float64